<!DOCTYPE html>
<html>
<head>
 <script> $(function() { $('#details').froalaEditor() }); </script>
</head>
<body>
	<div class="container">
		<form method="post" action="addnews" enctype="multipart/form-data">
			<?php if($status == 'Success'){ ?>
			<div class="alert alert-success">
				<strong>Success!</strong>
			</div>
			<?php } else if($status == 'Fail') { ?>
				<div class="alert alert-danger">
					<strong>Fail!</strong>
				</div>
			<?php } ?>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<input type="text" class="form-control" id="title" name="title" required>
			</div>
			<div class="form-group">
				<p><strong>Category</strong></p>
				<select id="category" name="category" class="form-control" required>
					<option value="1">ข่าวประชาสัมพันธ์</option>
					<option value="2">สำหรับนักศึกษา</option>
					<option value="3">กิจกรรมการศึกษา</option>
					<option value="4">ข่าวที่มีรูปเยอะ</option>
				</select>
			</div>
			<div class="form-group">
				<textarea name="details" id="details"></textarea>
			</div>
			<div class="form-group">
				<label for="tag" class="control-label">Tag</label>
				<input type="text" name="tag" class="form-control">
			</div>
			<div class="form-group">
				<button type="button" value="submit" class="btn btn-default" onclick="this.form.submit();">Submit</button>
			</div>
		</form>
	</div>

</body>
</html>
