<!DOCTYPE html>
<html>
<head>
 <script> $(function() { $('#details').froalaEditor() }); </script>
</head>
<body>
	<div class="container">
		<form method="post" action="edit" enctype="multipart/form-data">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<input type="text" class="form-control" id="title" name="title" value='<?php echo $title; ?>' required>
			</div>
			<div class="form-group">
				<p><strong>Category</strong></p>
				<select id="category" name="category" class="form-control" required>
          <?php if($category == 1){
            ?><option value="1" selected="selected">ข่าวประชาสัมพันธ์</option> <?php
          }else { ?>
            <option value="1">ข่าวประชาสัมพันธ์</option> <?php
          }

          if($category == 2){
            ?><option value="2" selected="selected">สำหรับนักศึกษา</option> <?php
          }else { ?>
          <option value="2">สำหรับนักศึกษา</option> <?php
          }

          if($category == 3){
            ?><option value="3" selected="selected">กิจกรรมการศึกษา</option> <?php
          }else { ?>
          <option value="3">กิจกรรมการศึกษา</option> <?php
          }

          if($category == 4){
            ?><option value="4" selected="selected">ข่าวที่มีรูปเยอะ</option> <?php
          }else { ?>
          <option value="4">ข่าวที่มีรูปเยอะ</option> <?php
          }
          ?>
				</select>
			</div>
			<div class="form-group">
				<textarea name="details" id="details" ><?php echo $detail; ?></textarea>
			</div>
			<div class="form-group">
				<label for="tag" class="control-label">Tag</label>
				<input type="text" name="tag" class="form-control" value="<?php echo $tag ?>">
			</div>
      <div class="form-group">
        <input type="hidden" name="id" value="<?php echo $id; ?>">
      </div>
			<div class="form-group">
				<button type="button" value="submit" class="btn btn-default" onclick="this.form.submit();">Submit</button>
			</div>
		</form>
	</div>

</body>
</html>
