<!-- Project One -->


<h2>This is list of news</h2>
<div class="list-group">
      <?php
          if($news == null){ echo "<h2> No data </h2>"; }else{ foreach($news as $anews => $val){
              ?>
              <div href="#" class="list-group-item"><?php
              echo $val['id']." ".$val['category']."  ".$val["title"]; ?>
                  <div class="btn-group navbar-right " style="padding-right:10px;" >
                      <form action="news/detail" method="POST" style=" display:inline;margin:0px;padding:0px;" >
                        <input type="hidden" name="id" value="<?php echo $val['id']; ?>" />
                        <input type="hidden" name="title" value="<?php echo $val['title']; ?>" />
                        <input type="hidden" name="detail" value='<?php echo $val['detail']; ?>' />
                        <input type="hidden" name="category" value="<?php echo $val['category']; ?>" />
                        <input type="hidden" name="tag" value="<?php echo $val['tag']; ?>" />
                        <button type="submit" class="btn btn-primary btn-xs">Detail</button>
                      </form>
                      <form action="news/delete" method="POST" style="display:inline;margin:0px;padding:0px;">
                        <input type="hidden" name="id" value="<?php echo $val['id']; ?>" />
                        <button type="submit" class="btn btn-danger btn-xs">Delete</button>
                    </form>
                  </div>
            </div>

          <?php } } ?>

</div>
