<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
		<form method="post" action="adduser">
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">email</label>
				<input type="text" class="form-control" id="email" name="email" required />
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">password</label>
				<input type="password" class="form-control" id="password" name="password" />
			</div>
			<div class="form-group">
				<label for="student_id" class="col-sm-2 control-label">Student ID</label>
				<input type="text" class="form-control" name="student_id" required />
			</div>
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<input type="text" class="form-control" name="username" required />
			</div>
			<div class="form-group">
				<button type="button" value="submit" class="btn btn-default" onclick="this.form.submit();">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>
