<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
		<form method="post" action="login">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">email</label>
				<input type="text" class="form-control" id="email" name="email" required>
			</div>
			<div class="form-group">
				<label for="detail" class="col-sm-2 control-label">password</label>
				<input type="password" class="form-control" id="password" name="password"></input>
			</div>
			<div class="form-group">
				<button type="button" value="submit" class="btn btn-default" onclick="this.form.submit();">login</button>
			</div>
		</form>
	</div>
</body>
</html>
