<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
		<form method="post" action="adduser">
      	<div class="form-group">
          <img src="http://placehold.it/300x200">
        </div>
        <div class="form-group">
  				<input type="file" name="img">
  			</div>
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Firstname</label>
				<input type="text" class="form-control" id="firstname" name="firstname" required>
			</div>
			<div class="form-group">
				<label for="detail" class="col-sm-2 control-label">Lastname</label>
				<input type="password" class="form-control" id="lastname" name="lastname"></input>
			</div>
      <div class="form-group">
				<label for="detail" class="col-sm-2 control-label">Student ID</label>
				<input type="password" class="form-control" id="sid" name="sid"></input>
			</div>
      <div class="form-group">
        <label for="detail" class="col-sm-2 control-label">Faculty</label>
        <input type="password" class="form-control" id="faculty" name="faculty"></input>
      </div>
      <div class="form-group">
        <label for="detail" class="col-sm-2 control-label">Major</label>
        <input type="password" class="form-control" id="major" name="major"></input>
      </div>


			<div class="form-group">
				<button type="button" value="edit" class="btn btn-default" onclick="this.form.submit();">Edit</button>
        <button type="button" value="edit" class="btn btn-default " style="background-color:red;" onclick="this.form.submit();">Delete</button>
			</div>


		</form>
	</div>
</body>
</html>
