<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/se_backend/">Home</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/se_backend/user/adduser">AddUser</a></li>
				<!-- <li><a data-toggle="dropdown" role="button">News
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/se_backend/news">See All News</a></li>
						<li><a href="/se_backend/news/addnews">Add News</a></li>
					</ul>

				</li>-->
					<li><a href="/se_backend/news/addnews">AddNews</a></li>
			</ul>


			<ul class="nav navbar-nav navbar-right">
				<li><a role="button" data-toggle="modal" data-target="#myModal">Login</a></li>
			</ul>
		</div>
		<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
					<form method="post" action="/se_backend/user/login">
						<div class="form-group">
							<label for="title" class="col-sm-2 control-label">Email</label>
							<input type="text" class="form-control" id="email" name="email" required>
						</div>
						<div class="form-group">
							<label for="title" class="col-sm-2 control-label">password</label>
							<input type="password" class="form-control" id="password" name="password" required>
						</div>
						<div class="form-group">
							<button type="button" value="edit" class="btn btn-default" onclick="this.form.submit();">Login</button>
						</div>
					</form>
        </div>
      </div>
    </div>
  </div>
	</div>

</nav>
